body {
    font: 14px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
    text-transform: inherit;
    color: #333;
    background: #e7edee;
    width: 100%;
}
.wrapper {
    width: 720px;
    margin: 15px auto;
    padding: 15px 10px;
    background: white;
    border: 2px solid #DBDBDB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.title, .name {
    font-weight:700;
}

.post {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.post .address{
    font-style:italic;
}
.post .text{
    margin-top:10px;
}

.form {
    font: 14px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
}